<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Monolithe</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    
    <link type='text/css' rel='stylesheet' href='bower_components/reset-css/reset.css' />
    <!--<link type='text/css' rel='stylesheet' href='static/css/all.min.css' />-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
   <script type="text/javascript" src="controllers/controllers.js"></script>
    
  </head>
  <body ng-app="mnlt">
    
    <section ng-controller="noticesCtrl">
      
      <div>
        <a ng-click="catName('grandes-dates')">Grandes Dates</a>
        <a ng-click="catName('histoire')">Histoire</a>
        <a ng-click="catName('personnalites')">Personnalités</a>
        <a ng-click="catName('themes')">Thèmes</a>
        <a ng-click="catName('art-patrimoine')">Art – Patrimoine</a>
      </div>

      
      <ul>
        <li ng-repeat="notice in notices">
          {{notice.title}}
        </li>
      </ul>
    </section>
    
  </body>
</html>