<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Monolithe</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    
    <link type='text/css' rel='stylesheet' href='bower_components/reset-css/reset.css' />
    <!--<link type='text/css' rel='stylesheet' href='static/css/all.min.css' />-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
   <script type="text/javascript" src="controllers/controllers.js"></script>
    
  </head>
  <body ng-app="mnlt">
    
    <section ng-controller="noticesCtrl">

      <div>
        <button ng-click="catName(currentCat, '')">fr</button>
        <button ng-click="catName(currentCat, '/en')">en</button>
        <button ng-click="catName(currentCat, '/de')">de</button>
      </div>
      
      <div ng-init="catName('histoire', '')">
        <button ng-click="catName('grandes-dates', currentLang)">Grandes Dates</button>
        <button ng-click="catName('histoire', currentLang)">Histoire</button>
        <button ng-click="catName('personnalites', currentLang)">Personnalités</button>
        <button ng-click="catName('themes', currentLang)">Thèmes</button>
        <button ng-click="catName('art-patrimoine', currentLang)">Art – Patrimoine</button>
      </div>

      <ul>
        <li ng-repeat="notice in notices">
          {{notice.title}}
        </li>
      </ul>

    </section>
    
  </body>
</html>